<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>岡山大学テクノロジーラボ | 岡山大学テクノロジーラボは、IT技術やデザインに興味のある大学生が集うサークルです</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Load CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- Load Icon Font -->
    <link href="css/webfont.css" rel="stylesheet" type="text/css" />
    <!-- Load jQuery library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Load jCarousel js -->
    <script type="text/javascript" src="js/jquery.jcarousel.js"></script>
    <!-- Load MixItUup js -->
    <script type="text/javascript" src="js/jquery.mixitup.js"></script>
    <!-- Load js -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Load style/js file for pnotify -->
    <link href="css/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/pnotify.custom.min.js"></script>
  </head>

  <body>

    <%= yield %>

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
